@page "/"
@attribute [Authorize]

<PageTitle>ホーム</PageTitle>

<HeadContent>
	<meta name="robots" content="noindex">
</HeadContent>

<h1>配信管理システム (JAWSWebApp) について</h1>

<h3>JAWS Playres の配信情報やテキスト、画面遷移を操作するためのシステムです。</h3><br />
<h3>タイトル一覧画面から、担当タイトルのセットアップ画面に遷移して操作してください。</h3><br />
<h3>複数人で同時に触ると、思わぬ事故につながりますので操作する際は必ず1人で操作してください。</h3><br />
<h3>右上のマニュアルリンクから配信当日用マニュアルを読んでください。困ったことがあったら技術班にお声がけください。</h3><br />
<hr />

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*埋め込みテスト*@
@*<Opening />*@

