@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://docs.google.com/document/d/xxxxxxxx/edit?usp=sharing" target="_blank">マニュアル</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
